<section class="property-binding">

    <article>
        <h3>Interpolation / Interpolação</h3>
        <p>String renderizada com Interpolação: {{ url }}</p>
        <p>Resultado de 1 + 1 é: {{ 1 + 1 }}</p>
        <p>Resultado de 1 + 1 não é: {{ 1 + 1 + getValor() }}</p>
        <p> Curso de Angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }}</p>
    </article>

    <article>
        <h3>ProértyBinding</h3>
        <img src="{{ urlImagems }}">
        <img [src]="urlImagems">
    </article>

    <article>
        <h3>Class e Style Binding</h3>        
        <div>
            Selecione uma classe:
             <select #classe (change)="0">
                 <option value="alert-success">Sucesso</option>
                 <option value="alert-info">Info</option>
                 <option value="alert-warning">Alerta</option>
                 <option value="alert-danger">Erro</option>
             </select>
        </div>
        <br><br>

        <div class="alert {{ classe.value }}">
            Texto colorido conforme valor da combobox.
        </div>

        <div class="alert alert-success" [class.alert-sucess] = "classe.value == 'alert-success'">Sucesso</div>
        <div class="alert alert-info" [class.alert-info] = "classe.value == 'alert-info'">Info</div>
        <div class="alert alert-warning" [class.alert-warning] = "classe.value == 'alert-warning'">Alerta</div>
        <div class="alert alert-danger" [class.alert-danger] = "classe.value == 'alert-danger'">Erro</div> 

        <div class="alert alert-danger" [style.display]="classe.value =='alert-danger' ? 'block' : 'none' ">Esse texto somente aparexe emcaso de erro</div> 

    </article>          
</section>

<section class="event-binding">
    <article>
        <h3>Event Binding</h3>
        <div>
            <button (click)="botaoClicado()"
            class="btn btn-primary">Me clique</button>
        </div>
        
        <br><br>

        <input type="text" (keyup)="onKeyUp($event)"
         (keyup.enter)="salvarValor($event.target.value)"
         (blur)="salvarValor(campoInput.value)" #campoInput>
        <p>Valor atual: {{ valorAtual }}</p>
        <p>Valor salvo: {{ valorSalvo }}</p>

        <br>

        <span (mouseouver)="onMouseOuverOut()"
        (mouseout)="onMouseOuverOut()"
        [class.highlight]="isMouseOuver">Passe o mouse sobre mim</span>
    </article>
</section>

<section class="two-way-data-binding">
    <article>
        <h3>Two-way data binding</h3>
        <div>
            <!-- Tres formas de se fazer o two-binding inicio-->
            <input type="text"
                [value]="nome"
                (input)="nome = $event.target.value"
            />

            <input type="text"
                [ngModel]="nome"
                (ngModelChange)="nome = $event"
            />

            <input type="text" [(ngModel)]="nome"/>
            <!-- Tres formas de se fazer o two-binding fim-->

            <p>Você digitou o nome: {{ nome }}</p>
        </div>

        <div>
            <p>Meu nome é {{ pessoa.nome }} e tenho {{ pessoa.idade }} anos de idade</p>
            <input type="text" [(ngModel)] = "pessoa.nome" >
            <input type="text" [(ngModel)] = "pessoa.idade" >
        </div>
    </article>
</section>